name: Go

on:
  push:
    paths:
      - .github/workflows/go.yml
      - 2020/**
      - 2022/**
      - 2023/**
      - go.mod
      - go.sum

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - run: make test
