name: Python

on:
  push:
    paths:
      - .github/workflows/python.yml
      - 2024/**
      - 2025/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --requirement requirements.txt
      - name: Test 2024
        working-directory: '2024'
        run: pytest
      - name: Test 2025
        working-directory: '2025'
        run: pytest